* {
    background-color: rgb(242, 255, 127);

}
.list {
    border-radius: 5px;
    background-color: rgb(242, 255, 127);
    padding-left: 4px;


}


h1 {
    text-align: center;
    background-color: rgb(255, 174, 127);
}

